body {
    background-color:#7a7a52;
}

.style {
    background-color:#7a7a52;
}

.favorites {
    background-color:blue;
}

p {
    padding:50px 5px;
      color:#ff00ff;
}

h2 {
    color: #ff00ff;
}

ol{
    color: #ff00ff;
}

h1{
    color: #ff00ff;
}

p {
    font-weight: bold;
}

.nav{
    color:purple;
    background-color:red; 
}

a {
    text-decoration:none;
}